@charset "UTF-8"
/*
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

animated(duration = 1s)
	animation-duration duration
	animation-fill-mode both

animatedHingeDuration(duration = 2s)
	animation-duration 2s

animatedflash()
	animation-name flash

animatedshake()
	animation-name shake

animatedbounce()
	animation-name bounce

animatedtada()
	animation-name tada

animatedswing()
	animation-name swing
	transform-origin top center

animatedwobble()
	animation-name wobble

animatedpulse()
	animation-name pulse

animatedflip()
	animation-name flip
	backface-visibility visible !important

animatedflipInX()
	animation-name flipInX
	backface-visibility visible !important

animatedflipOutX()
	animation-name flipOutX
	backface-visibility visible !important

animatedflipInY()
	animation-name flipInY
	backface-visibility visible !important

animatedflipOutY()
	animation-name flipOutY
	backface-visibility visible !important

animatedfadeIn()
	animation-name fadeIn

animatedfadeInUp()
	animation-name fadeInUp

animatedfadeInDown()
	animation-name fadeInDown

animatedfadeInLeft()
	animation-name fadeInLeft

animatedfadeInRight()
	animation-name fadeInRight

animatedfadeInUpBig()
	animation-name fadeInUpBig

animatedfadeInDownBig()
	animation-name fadeInDownBig

animatedfadeInLeftBig()
	animation-name fadeInLeftBig

animatedfadeInRightBig()
	animation-name fadeInRightBig

animatedfadeOut()
	animation-name fadeOut

animatedfadeOutUp()
	animation-name fadeOutUp

animatedfadeOutDown()
	animation-name fadeOutDown

animatedfadeOutLeft()
	animation-name fadeOutLeft

animatedfadeOutRight()
	animation-name fadeOutRight

animatedfadeOutUpBig()
	animation-name fadeOutUpBig

animatedfadeOutDownBig()
	animation-name fadeOutDownBig

animatedfadeOutLeftBig()
	animation-name fadeOutLeftBig

animatedfadeOutRightBig()
	animation-name fadeOutRightBig

animatedslideInDown()
	animation-name slideInDown

animatedslideInLeft()
	animation-name slideInLeft

animatedslideInRight()
	animation-name slideInRight

animatedslideOutLeft()
	animation-name slideOutLeft

animatedslideOutRight()
	animation-name slideOutRight

animatedslideOutUp()
	animation-name slideOutUp

animatedbounceIn()
	animation-name bounceIn

animatedbounceInUp()
	animation-name bounceInUp

animatedbounceInDown()
	animation-name bounceInDown

animatedbounceInLeft()
	animation-name bounceInLeft

animatedbounceInRight()
	animation-name bounceInRight

animatedbounceOut()
	animation-name bounceOut

animatedbounceOutUp()
	animation-name bounceOutUp

animatedbounceOutDown()
	animation-name bounceOutDown

animatedbounceOutLeft()
	animation-name bounceOutLeft

animatedbounceOutRight()
	animation-name bounceOutRight

animatedrotateIn()
	animation-name rotateIn

animatedrotateInUpLeft()
	animation-name rotateInUpLeft
animatedrotateInDownLeft()
	animation-name rotateInDownLeft

animatedrotateInUpRight()
	animation-name rotateInUpRight

animatedrotateInDownRight()
	animation-name rotateInDownRight

animatedrotateOut()
	animation-name rotateOut

animatedrotateOutUpLeft()
	animation-name rotateOutUpLeft

animatedrotateOutDownLeft()
	animation-name rotateOutDownLeft

animatedrotateOutUpRight()
	animation-name rotateOutUpRight

animatedrotateOutDownRight()
	animation-name rotateOutDownRight

animatedhinge(duration = 2s)
	animatedHingeDuration(duration)
	animation-name hinge

animatedrollIn()
	animation-name rollIn

animatedrollOut()
	animation-name rollOut

animatedlightSpeedIn(duration = 0.5s)
	animated(duration)
	animation-name lightSpeedIn
	animation-timing-function ease-out

animatedlightSpeedOut(duration = 0.25s)
	animated(duration)
	animation-name lightSpeedOut
	animation-timing-function ease-in

